

  
.task-title{
    width:300px;
    display: flex;  
    flex-grow: 1;
    border: 1px solid black;
    background-color: var(--secondary_button);
    transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */

}
.task-date{
    width: 100px;
    display: flex;  
    flex-grow: 1;
    border: 1px solid black;
    background-color: var(--secondary_button);
    transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */

}
.task-priority{
    width: 50px;
    display: flex;  
    flex-grow: 1;
    border: 1px solid black;
    background-color: var(--secondary_button);
    transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */

}

div.task svg{
    height: 20px;
  }

div.task {
    display: flex;
    justify-content: space-between; 
    padding: 2px;
    margin-left: 5px;

}

.task-title:hover, .task-date:hover, .task-priority:hover{

    border: 1px solid rgba(0, 128, 0, 0.5);
    color: var(--main_orange);
    cursor:pointer;
    transform: translateY(-2px); /* Move the task up by 2px when hovering */

}
    
    
.task input {
    border: none;
    font-family: inherit;
    font-size: inherit; 
    outline: none;
}