.asset-description svg{
    height:20px;

}
div.asset-description{
    display: flex;
    justify-content: space-between; 
    padding: 2px;
    margin-left: 5px;
}
span.asset-description-tile{
    display: flex;
    flex-grow: 1;
    width: 15%;
    border: 1px solid black;
    background-color: var(--secondary_button);

}
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.TaskList{
    width: 80%;
}