
.task-title{

    display: flex;
    flex-grow: 1;
    width: 15%;
    border: 1px solid grey;}
div.task svg{

  }
div.task {
    display: flex;
    justify-content: space-between; 
    padding: 2px;
    margin-left: 5px;
}

div.task-desc {
    display: flex;
    flex-grow: 1;
    width: 15%;
    border: 1px solid black;
    background-color: var(--secondary_button);

}
.task-desc:hover{

    border: 1px solid var(--main_orange);
    color: var(--main_orange);
    cursor:pointer;}