
.toggle{
    visibility: hidden;
}
.toggle + label{
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    color: var(--settings-text-color);
    margin-top: 120px;
}
.toggle + label::before {
    content: "";
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: #e2b714;
    margin-right: 0.8em;
    transition: background-color 250ms ease-in-out;

}

.toggle + label::after{
    content: "";
    height: 0.8em;
    width: 0.8em;
    border-radius: 1em;
    background-color: var(--toggle-color-2);
    position: absolute;
    left: 1em;
    transition: background-color 250ms ease-in-out;

}

.toggle:checked +label::after{
    transform: translateX(100%);
}
