body{
    background-color: var(--main_background);
    font-family: 'Roboto Mono';
  }
  :root{
    --main_orange:#e2b714;
    --main_background:#323437;
    --secondary_button:#646669;
    --main_text:#d1d0c5;
    --main_button:#2c2e31;
    --main_red:#7e2a33;
  }
  .header{
    width: 100%;
    background-color: var(--main_orange);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
    height: 150px;
  }
  #logo{
    width:100px;
    border-radius: 50%;
  }
  #logo:hover{
    width: 150px;
    
  }
  .controlButtonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
  }
  .controlButton{
    padding: 15px;
    margin:5px;
    background-color: var(--main_button);
    color: var(--main_text);
    font-size: 20px;
    border-radius: 35%;
  }
  .controlButton:hover{
    background-color: var(--secondary_button);
  
  }
  .taskContainer{
    display: flex;
    flex-direction: column;
    margin: 4px;
  }
  .add-button{
    width: 50px;
    align-self: center;
  }
  .task-button{
    font-size: 1rem;
    font-weight: bold;
    color: var(--main_text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--secondary_button) 0.5 ease;
    background-color: var(--secondary_button);
  }
  .task-list{
    font-size: 1;
    font-weight: bold;
    background-color: var(--main_orange);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .title{
    width: 300px;
    border: 2px solid black;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .description{
    width: 800px;
    border: 2px solid black;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .progress{
    width: 25px;
    border: 2px solid black;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .priority{
    width: 25px;
    border: 2px solid black;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .dueDate{
    width: 100px;
    border: 2px solid black;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .startDate{
    width: 100px;
    border: 2px solid black;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .controlButtonLogout{
    padding: 15px;
    margin:5px;
    margin-left:-300px;
    background-color: var(--main_button);
    color: var(--main_text);
    font-size: 20px;
    border-radius: 35%;
  }