.container{
    position: relative;
    width: 100%;
    height: 100%;

}
.circle{
    position: relative;
    display: flex;

}
.circle span{
    position: relative;
    width: 30px;
    height: 120px;
    background: linear-gradient(to bottom, #e2b714, #7e2a33);
    margin: 4px;
    border-radius: 10px;
    animation: animate 5s linear infinite;
    animation-duration: calc(400s/var(--i));
    box-shadow: 0 0 10px #d1d0c5;
}
.circle span:nth-child(even){
    background: linear-gradient(to bottom, #7e2a33, #e2b714);
    
}
@keyframes animate{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-40vh) scale(1);
    }
}

