.formContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    height: 400px;
 

    border-radius: 30px;
    background-color: var(--header-color);
    box-shadow: 0 0 10px var(--button-text);
    color: var(--primary-text-color);
    border:2px solid black
    
}
.title{
    position: relative;
    top: -50px;
    font-size: 3rem;
}
.formularz{
   
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.haslo{
    width: calc(100% - 60px);
    height: 5vh;
    font-size: 1.4rem;
    background-color: var(--input-edit-color);
    border: 1px solid var(--icon-text-color);
    color: var(--icon-text-color);
    padding: 10px 20px 10px 30px;;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top:20px;
    border-radius: 40px;

}

.haslo::placeholder{
    color: var(--icon-text-color);
}

.icon_lock{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 15px;
    color: var(--icon-text-color);
    padding: 10px;
}

.label{
    font-size: 1.5rem;
    font-weight: bold;
}

.btnN{
    background-color: var(--main-button);
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 20px;
    width: 150px;
    height: 45px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btnN:hover{
    background-color: var(--toggle-color);
    color: var(--button-text);
}