:root{
    --background-color: #323437;
    --header-color: #e2b714;
    --primary-text-color: #d1d0c5;
    --red-color: #7e2a33 ;
    --main-button: #2c2e31;
    --second-button:  #646669;
    --toggle-color: #e2b714;
    --toggle-color-2: #323437;
}
[data-theme="dark"]{
    --background-color: red;
    --header-color: white;
    --primary-text-color: #d1d0c5;
    --red-color: #7e2a33 ;
    --main-button: red;
    --second-button:  red;
    --toggle-color: #2c2e31;
    --toggle-color-2: white;
}

html, body {
    margin: 0;
    padding: 0;
    height:100%;
}
