:root{
    --background-color: #1751a9;
    --header-color: #e2b714;
    --primary-text-color: #d1d0c5;
    --red-color: #7e2a33 ;
    --main-button: #2c2e31;
    --second-button:  #646669;
    --toggle-color: #e2b714;
    --toggle-color-2: #323437;
}
[data-theme="dark"]{
    --background-color-not-working: #323437;
    --background-color: purple;
    --header-color: black;
    --primary-text-color: #d1d0c5;
    --red-color: #7e2a33 ;
    --main-button: green;
    --second-button:  #646669;
    --toggle-color: #2c2e31;
    --toggle-color-2: white;
}
  
