.background{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #323437;
    height: 100%;
    width:  100%;
    z-index: -1;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;

}
.circle{
    position: relative;
    display: flex;

}
.circle span{
    position: relative;
    width: 3vw;
    height: 12vw;
    background: linear-gradient(to bottom, #e2b714, #7e2a33);
    margin: 0.4vw;
    border-radius: 1vw;
    animation: animate 5s linear infinite;
    animation-duration: calc(300s/var(--i));
    box-shadow: 0 0 1vw #d1d0c5;
}
.circle span:nth-child(even){
    background: linear-gradient(to bottom, #7e2a33, #e2b714);
    
}
@keyframes animate{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-30vh) scale(1);
    }
}